pandas   
#request apis
requests
#upload to s3
boto3
#connect postgresql
sqlalchemy
#driver for postgresql using by sqlalchemy   
psycopg2-binary
python-dotenv
openpyxl
faker
pyproject-toml
pymysql
cx_Oracle
protobuf
dbt-core
packaging
streamlit
limits